* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after,
.row::after {
    content: '';
    display: table;
    clear: both;
}

.row {
    max-width: 1170px;
    margin: 0 auto;
    height: 200px;
}

[class*="col-"] {
    height: 100%;
    /* DA CANCELLARE */
    background-color: lightgray;
    border: 1px solid black;
    float: left;
    text-align: center;
    line-height: 100px;
}


.col-xs-1  {width: calc((100% / 12) * 1 )}
.col-xs-2  {width: calc((100% / 12) * 2 )}
.col-xs-3  {width: calc((100% / 12) * 3 )}
.col-xs-4  {width: calc((100% / 12) * 4 )}
.col-xs-5  {width: calc((100% / 12) * 5 )}
.col-xs-6  {width: calc((100% / 12) * 6 )}
.col-xs-7  {width: calc((100% / 12) * 7 )}
.col-xs-8  {width: calc((100% / 12) * 8 )}
.col-xs-9  {width: calc((100% / 12) * 9 )}
.col-xs-10 {width: calc((100% / 12) * 10)}
.col-xs-11 {width: calc((100% / 12) * 11)}
.col-xs-12 {width: calc((100% / 12) * 12)}

.col-offset-xs-1  {margin: calc((100% / 12) * 1 )}
.col-offset-xs-2  {margin: calc((100% / 12) * 2 )}
.col-offset-xs-3  {margin: calc((100% / 12) * 3 )}
.col-offset-xs-4  {margin: calc((100% / 12) * 4 )}
.col-offset-xs-5  {margin: calc((100% / 12) * 5 )}
.col-offset-xs-6  {margin: calc((100% / 12) * 6 )}
.col-offset-xs-7  {margin: calc((100% / 12) * 7 )}
.col-offset-xs-8  {margin: calc((100% / 12) * 8 )}
.col-offset-xs-9  {margin: calc((100% / 12) * 9 )}
.col-offset-xs-10 {margin: calc((100% / 12) * 10)}
.col-offset-xs-11 {margin: calc((100% / 12) * 11)}

@media screen and (min-width: 768px) {

    .col-md-1  {width: calc((100% / 12) * 1 )}
    .col-md-2  {width: calc((100% / 12) * 2 )}
    .col-md-3  {width: calc((100% / 12) * 3 )}
    .col-md-4  {width: calc((100% / 12) * 4 )}
    .col-md-5  {width: calc((100% / 12) * 5 )}
    .col-md-6  {width: calc((100% / 12) * 6 )}
    .col-md-7  {width: calc((100% / 12) * 7 )}
    .col-md-8  {width: calc((100% / 12) * 8 )}
    .col-md-9  {width: calc((100% / 12) * 9 )}
    .col-md-10 {width: calc((100% / 12) * 10)}
    .col-md-11 {width: calc((100% / 12) * 11)}
    .col-md-12 {width: calc((100% / 12) * 12)}

    .col-offset-md-0  {margin: calc((100% / 12) * 0 )}
    .col-offset-md-1  {margin: calc((100% / 12) * 1 )}
    .col-offset-md-2  {margin: calc((100% / 12) * 2 )}
    .col-offset-md-3  {margin: calc((100% / 12) * 3 )}
    .col-offset-md-4  {margin: calc((100% / 12) * 4 )}
    .col-offset-md-5  {margin: calc((100% / 12) * 5 )}
    .col-offset-md-6  {margin: calc((100% / 12) * 6 )}
    .col-offset-md-7  {margin: calc((100% / 12) * 7 )}
    .col-offset-md-8  {margin: calc((100% / 12) * 8 )}
    .col-offset-md-9  {margin: calc((100% / 12) * 9 )}
    .col-offset-md-10 {margin: calc((100% / 12) * 10)}
    .col-offset-md-11 {margin: calc((100% / 12) * 11)}

}

@media screen and (min-width: 992px) {

    .col-xl-1  {width: calc((100% / 12) * 1 )}
    .col-xl-2  {width: calc((100% / 12) * 2 )}
    .col-xl-3  {width: calc((100% / 12) * 3 )}
    .col-xl-4  {width: calc((100% / 12) * 4 )}
    .col-xl-5  {width: calc((100% / 12) * 5 )}
    .col-xl-6  {width: calc((100% / 12) * 6 )}
    .col-xl-7  {width: calc((100% / 12) * 7 )}
    .col-xl-8  {width: calc((100% / 12) * 8 )}
    .col-xl-9  {width: calc((100% / 12) * 9 )}
    .col-xl-10 {width: calc((100% / 12) * 10)}
    .col-xl-11 {width: calc((100% / 12) * 11)}
    .col-xl-12 {width: calc((100% / 12) * 12)}

    .col-offset-xl-0  {margin: calc((100% / 12) * 0 )}
    .col-offset-xl-1  {margin: calc((100% / 12) * 1 )}
    .col-offset-xl-2  {margin: calc((100% / 12) * 2 )}
    .col-offset-xl-3  {margin: calc((100% / 12) * 3 )}
    .col-offset-xl-4  {margin: calc((100% / 12) * 4 )}
    .col-offset-xl-5  {margin: calc((100% / 12) * 5 )}
    .col-offset-xl-6  {margin: calc((100% / 12) * 6 )}
    .col-offset-xl-7  {margin: calc((100% / 12) * 7 )}
    .col-offset-xl-8  {margin: calc((100% / 12) * 8 )}
    .col-offset-xl-9  {margin: calc((100% / 12) * 9 )}
    .col-offset-xl-10 {margin: calc((100% / 12) * 10)}
    .col-offset-xl-11 {margin: calc((100% / 12) * 11)}

}
